

<div class="row">
<div class="pick-box col-md-1">
    <div *ngFor="let color of colors"
        class="color-box" 
        pDraggable="dd" 
        [style.background]="color.code"
        (onDragStart)="dragStart(color)" 
        (onDragEnd)="dragEnd()">
    </div>    
</div>

<div class="drop-box col-md-3">
    <div *ngFor="let guess of guesses"
        pDroppable="dd" 
        class="color-box" 
        [style.background]="guess.code"
        (onDrop)="drop(guess)">
    </div>   
</div>
</div>

<div class="btn btn-secondary" (click)="clear()">Clear</div>
<div class="btn btn-success" (click)="submit()">Submit</div>

<ul *ngIf="results">
    <li *ngFor="let result of results">{{result}}</li>
</ul>

