a.link {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
    font-style: italic;
    color: yellow;
    font-weight: bold;
}

.message-btn {
    margin-left: 30px;    
}