<nav class="navbar navbar-inverse navbar-toggleable-md bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home"><i class="fa fa-music"></i> SweMix Playlist</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="songMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Songs
        </a>
        <div class="dropdown-menu" aria-labelledby="songMenuLink">          
          <a class="dropdown-item" routerLink="/songs">Display list</a>
          <a class="dropdown-item" [routerLink]="['/songs', 0, 'edit']">Add a Song</a>
        </div>
      </li>
    </ul>    
    <div *ngIf="_auth.isLoggedIn()" class="form-inline text-white">
      <span>Welcome {{_auth.currentUser.userName}}!</span>&nbsp;
      (<a class="link" (click)="logout()">Logout</a>)
    </div>
    <div *ngIf="!_auth.isLoggedIn()" class="form-inline text-white">     
      <a class="link" routerLink="/login">Login</a>
    </div>   
  </div>
</nav>

<div class="container-fluid">  
  <router-outlet></router-outlet>
</div>