<div class="card card-outline-info">
    <div class="card-header bg-info text-white">   
        <div class="text-center">Message Log</div>
        <div class="btn btn-secondary" (click)="close()"><i class="fa fa-times"></i></div>        
    </div>

    <div class="card-block">        
        <div *ngFor="let message of messages; let i=index">
            <p *ngIf="i < 10" class="message-row">
                {{ message.text }} at {{ message.timeStamp | date:'medium' }}
            </p>
        </div>
        <p *ngIf="!messages || messages.length == 0" style="margin-bottom: 0;">No current messages.</p>
    </div>
</div>
   