<h3>Details page for <i>"{{song.title}}"</i></h3>
<hr/>

<div class="row">
    <strong class="col-lg-2 col-md-6">Internal Id:</strong>
    <span class="col-lg-4 col-md-6">{{song.id}}</span>
</div>

<div class="row">
    <strong class="col-lg-2 col-md-6">Title:</strong>
    <span class="col-lg-4 col-md-6">{{song.title}}</span>
</div>

<div class="row">
    <strong class="col-lg-2 col-md-6">Artist:</strong>
    <span class="col-lg-4 col-md-6">{{song.artist}}</span>
</div>

<div class="row">
    <strong class="col-lg-2 col-md-6">Code:</strong>
    <span class="col-lg-4 col-md-6"><a [href]="song.getUrl() | safe">{{song.youtubeCode}}</a></span>
</div>

<div class="row">
    <strong class="col-lg-2 col-md-6">Video Length:</strong>
    <span class="col-lg-4 col-md-6">{{song.length | time}}</span>
</div>

<div *ngIf="song.mixId" class="row">
    <strong class="col-lg-2 col-md-6">Mix Id:</strong>
    <span class="col-lg-4 col-md-6">{{song.mixId}}</span>
</div>

<div class="row" *ngIf="song.youtubeCode">
    <strong class="col-lg-2 col-md-6">Video:</strong>
    <div class="col-lg-4 col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="song.youtubeCode | embed:true" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="row">
    <div class="offset-md-6 offset-lg-2 col-lg-4 col-md-6">
        <a class="btn btn-primary" [routerLink]="['edit']">Edit this song</a>
        <a class="btn btn-secondary" routerLink="/songs">Return to list</a>
    </div>
</div>