div.panel-heading {
   font-size: x-large; 
}

.card-header {
    position: relative;
}

.card-header > .btn { 
    top: 2px;
    bottom: 2px;  
    position: absolute;
    cursor: pointer;
}

.card-header > .text-center {   
    width: 85%;
    margin: auto;
}

.card-header > .btn:first-child {   
    left:2px;
}

.card-header > .btn:last-child {
    right:2px;
}

.download-btn {
    position: absolute;
    top: 15px;
    left: 90%;
    height: 20px;
    border-radius: 50%;
    width: 20px;
}