
<div class="card card-outline-primary">
    <div class="card-header bg-primary text-white">        
        <div *ngIf="song.previousId" class="btn btn-secondary" [routerLink]="['/songs', song.previousId, 'edit']"><</div>
        <div class="text-center">{{pageTitle}}</div>
        <div *ngIf="song.nextId" class="btn btn-secondary" [routerLink]="['/songs', song.nextId, 'edit']">></div>        
    </div>

    <div class="card-block">
        <form novalidate
              (ngSubmit)="save()"
              [formGroup]="songForm">
            <fieldset>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label font-weight-bold" >Internal Id</label>
                    <div class="col-md-8">
                        <input class="form-control" 
                               id="idId" 
                               type="number"                                
                               formControlName="id" />                        
                    </div>
                </div>

                <div class="form-group row"
                    [ngClass]="{'has-danger': displayMessage.title }">
                    <label class="col-md-2 col-form-label font-weight-bold" 
                           for="titleId">Title</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="titleId" 
                               type="text" 
                               placeholder="Title (required)"                                                           
                               formControlName="title" />
                        <span class="help-block" *ngIf="displayMessage.title">
                                {{displayMessage.title}}
                        </span>
                    </div>
                </div>

                <div class="form-group row"
                    [ngClass]="{'has-danger': displayMessage.artist }">
                    <label class="col-md-2 col-form-label font-weight-bold control-label" 
                           for="artistId">Artist</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="artistId" 
                               type="text" 
                               placeholder="Artist (required)"                                                             
                               formControlName="artist" />
                        <span class="help-block" *ngIf="displayMessage.artist">
                                {{displayMessage.artist}}
                        </span>
                    </div>
                </div>                

                <div class="form-group row"
                    [ngClass]="{'has-danger': displayMessage.youtubeCode }">
                    <label class="col-md-2 col-form-label font-weight-bold control-label" 
                        for="youtubeCodeId">Youtube code</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="youtubeCodeId"
                               placeholder="Youtube Code (required)"                                
                               formControlName="youtubeCode" />
                        <span class="help-block" *ngIf="displayMessage.youtubeCode">
                                {{displayMessage.youtubeCode}}
                        </span>
                    </div>
                </div>

                <div class="form-group row"
                    [ngClass]="{'has-danger': displayMessage.length }">
                    <label class="col-md-2 col-form-label font-weight-bold control-label" 
                        for="lengthId">Length</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="lengthId" 
                               type="number" 
                               placeholder="Length (required / in seconds)"                                
                               formControlName="length" />
                        <span class="help-block" *ngIf="displayMessage.length">
                                {{displayMessage.length}}
                        </span>
                    </div>
                </div>

                <div *ngIf="songForm.value.downloaded">
                    <div class="form-group row"
                        [ngClass]="{'has-danger': displayMessage.fileLocation }">
                        <label for="fileLocationId" class="col-md-2 col-form-label font-weight-bold">File location (local)</label>
                        <div class="col-md-8">
                            <input  class="form-control" 
                                    id="fileLocationId" 
                                    type="text"
                                    placeholder="File location"
                                    formControlName="fileLocation" />
                            <span class="help-block" *ngIf="displayMessage.fileLocation">
                                {{displayMessage.fileLocation}}
                        </span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-md-2 col-md-8 checkbox" >
                        <label>
                            <input id="downloadedId"
                                   type="checkbox"
                                   formControlName="downloaded">
                            Song has been downloaded.
                        </label>
                    </div>
                </div>        
                   
                <div class="form-group row">
                    <div class="col-md-8 offset-md-2">                        
                            <button class="btn btn-success"
                                    type="submit"
                                    [disabled]="!songForm.valid">
                                Save
                            </button>                            
                            <a *ngIf="song.id != 0" class="btn btn-primary" [routerLink]="['/songs', song.id]">View this song</a>
                            <a *ngIf="song.id != 0" class="btn btn-info" [href]="song.getDownload() | safe">Download</a>
                            <div class="pull-right">
                                <a class="btn btn-secondary" routerLink="/songs">Return to list</a> 
                                <button *ngIf="song.youtubeCode" type="button" class="btn btn-danger" (click)="delete()">Delete</button> 
                            </div>                                                 
                    </div>
                </div>                    
            </fieldset>
        </form>
    </div>
</div>

<song-search [songForm]="songForm" (videoClick)="onVideoReceived($event)"></song-search>